.margin {
  margin: 10px;
}

.fixed {
  position: fixed;
}

hr {
  border: 0;
  height: 1px;
  background-color:#FFFFFF;
}

#me {
  cursor: pointer;
}

.title {
  color: #999999;
}

.title:hover {
  color: #555555;
}
