<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/bootstrap.css">
<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">
<script src="https://apis.google.com/js/plusone.js">
</script>
<link rel="stylesheet" href="/css/misc.css">
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/JavaScript"  src="/js/bootstrap.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38167739-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

</script>

<script type="text/javascript">
// Javascript to enable link to tab
  $(document).ready(function() {
      var url = document.location.toString();
      if(url.match('.html') || url.match('#tab2')) {
        $('.nav-tabs a[href=#tab2]').tab('show');
        //$('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
      }
    
      // Change hash for page-reload
      $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash;
      });
      
  });
</script>

<title>{{ page.title }}</title>
</head>
<body>
<br>
  <div class="container-fluid">
    <div class="row-fluid">
      
      <div class="span2">
        <div class="tabbable tabs-left fixed">
          <ul class="nav nav-tabs hidden-phone" id="myTab">
            <li>
              <div>
              <img id="me" src="https://1.gravatar.com/avatar/00e074a91cea62fd2e9261795065de53" class="img-polaroid" width=70 height=70 onclick="window.location = '/'" /><br>
              <h5></h5>
              <a href="https://github.com/Nazgolze"><img src="/img/github.png"/></a>
	      <a href="https://twitter.com/JuanInberlin"><img src="/img/twitter.jpg"/></a>
              <a href="/feed.xml"><img src="/img/rss.png"/></a>
              <h5></h5>
              </div>
            </li>
            <li class="active"><a href="#tab1" data-toggle="tab">About</a></li>
            <li><a href="#tab2" data-toggle="tab">Blog</a></li>
            <li><br><br><br><br><br><br></li>
          </ul>
        </div>
      </div>
      
      <div class="span9">
        <div class="pagination-centered">
          <a href="/" class="title"><h2>Juan Gonzalez</h2></a><hr>
          <div class="visible-phone tabbable">
            <a href="/"><img src="https://1.gravatar.com/avatar/00e074a91cea62fd2e9261795065de53" class="img-polaroid" width=70 height=70 /></a><br>
              <h5></h5>
              <a href="https://github.com/Nazgolze"><img src="/img/github.png"/></a>
              <a href="https://plus.google.com/u/0/104154658466859206272?rel=author"><img src="/img/google-plus.png"/></a>
              <a href="/feed.xml"><img src="/img/rss.png"/></a>
              <h5></h5>
            <ul class="nav nav-tabs" id="myTab">
              <li class="active"><a href="#tab1" data-toggle="tab">About</a></li>
              <li><a href="#tab2" data-toggle="tab">Blog</a></li>
          </div> 
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <p>I'm currently a DevOps Engineer at <a href="https://lisk.io">Lisk</a> in Berlin, Germany.  In my free time, I read, code, play Minecraft, explore the twin cities and more.  I majored in Computer Science, Spanish and minored in Math, to give you an idea of where my interests lie.</p>
            <p>I've resurrected this blog from near oblivion. I may post updates once in a while</p>
          </div>
          <div class="tab-pane" id="tab2">
            <div class="row-fluid">
              <div id="test" class="span10">    
                {{ content }}
              </div>
              <div class="span2 hidden-phone" style="border-left: solid 1px #888">
                <h5 style="line-height: 1;">&nbsp;Recent Posts</h5>
                <ul class="posts">
                  {% for post in site.posts limit:5 %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a><br>
                        <span>{{ post.date | date_to_string }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div> <!-- row -->
          </div> <!-- tab-pane -->
        </div>   <!-- tab-content -->
      </div>     <!-- span9 -->
    
    </div>       <!-- row-fluid -->
  </div>         <!-- container-fluid -->
</body>
</html>
