---
layout: default
---
<div>
<h3 style="margin: 0; line-height: 1;"><a href="{{ page.url }}" class="title">{{ page.title }}</a></h3>
<small>{{ page.date | date_to_string }}</small>
<br>
<div class="post">
<p>{{ content }}</p>
</div>
<hr>
<!-- test: "http://{{ site.host}}{{ page.url }}" -->

<!--
<script>
var idcomments_acct = 'cbb74fae83d90211a755244588ccf21f';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
-->
</div>
